*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gloria Hallelujah', cursive;
    
}
html{
    scroll-behavior: smooth;
}
body{ cursor: url("src/img/cursorLapiz.png"),auto;}


.nav-desktop{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-desktop ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

.nav-desktop ul li{
    margin: 0px 40px;
    list-style: none;
    width: 150px;
    display: flex;
} 

.nav-desktop ul li a{
    text-decoration: none;
   padding: 25px 30px;
    color: #000;
    position: relative;
    font-size: 14px;
  
} 


.nav-desktop ul li a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }

  .nav-desktop ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  
  }
  .nav-desktop ul li a:hover{
    color: #fff;
  }
  .nav-desktop ul li a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
     bottom: 0; 
     left: 0;
    background: rgb(3, 12, 16);
    z-index: -1;
    transition: transform .3s ease;
  }

.container_header{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    border: 15px solid;
    justify-content: space-between;
    
  
}

.container-header-title{
    max-width: 500px;
    margin-left: 50px;
}

.container-header-title a {
    border-bottom: 5px dashed;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.container-header-title h1{
    font-size: 40px;
    font-family: 'Gloria Hallelujah', cursive;
}

.container-img-header{
    width: 50%;
    height: 100%;
    border-left: 15px solid;
    background-image: url("src/img/allPeeps.svg");

}

.main_news{
    width: 100%;
    height:auto;
    padding: 50px;
 margin-bottom: 100px;
 
}

.container_news{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
    
  
}



.news{
    width: 550px;
    height: 200px;
    border: 8px solid;
    display: flex;
    position: relative;
    overflow: hidden;
    filter: grayscale(1);
    transition: filter .5s ease ;
    text-decoration: none;
    
    
}.news:link{
    color: black;
}
.news:hover{
    filter: none;
}

.container_header_news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container_header_news p{
   text-transform: capitalize;
}
.container_info{
    width: 80%;
    padding: 10px;
}
.container_source_id{
    display: flex;
    align-items: center;
}
.container_source_id p{
    margin-left: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}
.pub_date{
    font-family: 'Gloria Hallelujah', cursive;
}
.container_source_id img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.content_img_news{
    width: 50%;
    height: 100%;
    
    background-image: url("https://cnnespanol.cnn.com/wp-content/uploads/2022/11/221104122648-ron-baron-elon-musk-baron-investment-conference-1104.jpeg?quality=100&strip=info");
    background-position: center;
    background-size: cover;
    
}
.title_new{
    
    width: 300px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 20px;
}

.desc_new{
    display: block;
  display: -webkit-box;
  max-width: 98%;
  height: 65px;
  margin: 0 auto;
  line-height: 1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author{
    
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
}
.h2_title_news{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    text-align: center;
}

.inpt_search{
    border: none;
    border-bottom: 5px dashed;
    padding: 10px;
    width: auto;
    margin-right: 80px;
}
.inpt_search:focus{
    outline: none;
}
.inpt_search::placeholder{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 17px;
}

label[for="country"]{
    font-family: 'Gloria Hallelujah', cursive;
    margin-right: 25px;
}

select{
    padding: 10px;
    border: 4px dashed;
}
select:focus{
    outline: none;
}


.container_inputs{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.container_board{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    margin: 50px 0px;
    position: relative;
    
}

.container_board h2{
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 40px;
    margin: 0px  0px 10px 0px;
   
    
}
#board{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    filter: grayscale(1);
    width: 500px;
    height: 350px;
 
    justify-self: flex-start;
    cursor: pointer;
   
    /* box-shadow: 4px 4px #222323, 8px 8px #656564, 12px 12px #b7b8b8; */
}
.container_noticia:hover{
    
    box-shadow: 4px 4px #416474, 8px 8px #ff5d30, 12px 12px #fff046;
}
.board_utilities{
    display: flex;
    position: relative;
}

#inp_file{
    display: none;
}
.container_info_noticia_perso{
    padding: 10px;
    position: relative;
}



.container_noticia{
    overflow: hidden;
    transition: all .3s ease;
    width: 500px;
    height: 500px;
    border: 10px dashed;

}




.peep-sitting-11{
    width: 300px;
    height: 440px;
    margin-left: 200px;
    transform: scaleX(-1);
}

.container_draw{
    width: 350px;
    height: 350px;
    border: 8px dashed;
    margin: 20px;
    border-radius: 50%;
    /* 
    background-image: url("src/img/fotoDibujo.png");
    background-position: center;
    background-size: cover;
   */
overflow: hidden;
}
.container_draw img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.section_circles{
    position: relative;
    width: 100%;
    height: 8500px;
   
    background-color: rgb(255, 255, 255);
  
   

}
.container_circles svg{
    width: 100%;
    height: 800px;
    overflow: hidden;
   
   
}
.container_circles{
    position: sticky;
    top: 0;
 
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.title_section_circles{
    position: absolute;
    color: red;
   bottom: 0;
   left: 0;
   top: 0;
    right: 0;
    margin:auto;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
}
footer p{
    color: #fff;
}

footer ul{
    display: flex;
}

footer ul li{
    margin: 50px;
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: #fff;
}


.section_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.container_info_desarrollo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_info_desarrollo  img{
    width: 250px;
    height: 350px;
    background-color: #fff;
}

.container_info_desarrollo   p{
    margin: 0px 30px;
    color: #fff;
    width: 500px;
    max-width: 500px;
}

.container_about{
    display: flex;
    background-color: #000;
    min-height: 100vh;
    height: auto;
    padding: 30px;
}
.container_about p , .container_about h2 {
     color: #fff;
}

.container_about_info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.container_about_info p {
    max-width: 500px;
}


.container_persons{
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    gap: 50px;
  
}

.card_person{
    width: 150px;
    height: 200px;
    border: 6px dashed;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
}

.card_person:hover{
    filter: none;
}

.section_web_map{
  
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 10px dashed;
   
   
}

.img_web{
    background-image: url(/src/img/mapa_web_Portal.png);
    width: 600px;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
   z-index: 100;
}

.filter-blur{
    background-image: url(/src/img/patronLunares.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(7px);
   
  
}

.section_form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container_form{
    width: 1000px;
    height: 500px;
    border: 1px solid;
    display: flex;
  
    justify-content: center;
    border: 10px solid;

}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.img_form{
    width: 50%;
    height: 100%;
    background-image: url(/src/img/formImage.PNG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 10px solid ;

}

form input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-bottom: 3px dashed;
   

}

form input:hover{
    background: rgba(0, 0, 0, 0.1);
}

form input:focus{
    outline: none;
}
form input[type="submit"]{
    border: 3px dashed;
    text-align: center;
    background: transparent;
    transition: all .3s ease;
    cursor: pointer;
}

form input[type="submit"]:hover{
    border: 3px solid;
    text-align: center;
    background: #000;
    color: #fff;
}

textarea:focus{
    outline: none;
}

textarea{
    margin: 10px;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border: 3px dashed;
}

.container_select_noti{

    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px;
    border: 5px dashed;
    right: 25%;
    box-shadow: 4px 4px #416474, 8px 8px #ff5d30, 12px 12px #fff046;
}

.container_select_noti button{

    width: 100%;
    padding: 5px;
    margin: 5px;
    border: 3px dashed;
    background-color: transparent;
    cursor: pointer;
    transition: .3s ease;

}

.container_info_noticia_perso{
    bottom: -200px;
    transition: 1s ease ;
}

.container_select_noti button:hover{

   
    border: 3px solid;
    background-color: #000;
    color: #fff;
  

}
.animado{
     opacity: 0;
     transition: .6s ease;
}

.subir{
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 35px;
    margin: 25px;
    z-index: 200;
    width: 50px;
    height: 50px;
    border: 5px solid;
    position: fixed;
    background-color: #fff;
    cursor: pointer;
    
    
}


@media screen and (max-width: 350px) {
   

    .container_board{
        display: none;
    }

    .section_circles{
        display: none;
    }
}
